.resume-page {
    background-image: url(./images/resume.jpg);
    background-size: cover;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    }