* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
/* Beginning of Nav Bar Styles*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(71, 67, 67, 0.4);
    color: rgb(0, 0, 0);
    padding: 10px;
}

.name {
    font-size: 2.5rem;
    margin: .5rem;
}

.links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: rgb(2, 2, 2);
    padding: 1rem;
    display: block;
    font-size: 30px;
}

.links li:hover {
    background-color: rgb(161, 158, 158);
}

.toggle {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
/* End of Nav Bar Styles*/
/* Beginning of Hero Styles*/
.hero {
    background-image: url(./images/hero-image.jpg);
    background-size: cover;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    }
    
    .hero-cta {
    width: 100%;
    text-align: right;
    margin: 6.5%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.2;
    }
    
    .hero-cta p {
    text-align: center;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    .hero-cta h2 {
    text-align: center;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
/* End of hero Styles*/
/* Beginning of About Me Section*/
.flex-row {
    display: flex;
    background-color: rgba(71, 67, 67, 0.4);
    flex-wrap: wrap;
    height: auto;
    }
    
.section-title  {
    font-size: 48px;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-top: 45px;
    }

.about-p  {
    font-size: 24px;
    width: 70%;
    flex: 6;
    }
/* End of about me section*/
/* Beginning of Working Samples Section*/
.box p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;
 }
    
.container {
    width: 100%;
    height: auto;
    color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    background-image: url(./images/hero-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

.box1 {
    background-image: url(./images/runbud.jpg);
    width: 20%;
    height: 300px;
    background-color: rgb(161, 158, 158);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    width: 75%;
    text-align: center;
    background-size: cover;
}

.box2 {
    background-image: url(./images/calc.jpg);
    width: 20%;
    height: 300px;
    background-color: rgb(161, 158, 158);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    width: 36%;
    text-align: center;
    background-size: cover;
    padding: 60px;
}

.box3 {
    background-image: url(./images/th.jpg);
    width: 20%;
    height: 300px;
    background-color: rgb(161, 158, 158);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    width: 36%;
    text-align: center;
    padding: 70px;
}

.box4 {
    background-image: url(./images/recren.jpg);
    width: 20%;
    height: 300px;
    background-color: rgb(161, 158, 158);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    width: 36%;
    text-align: center;
    background-size: cover;
    padding: 60px;
}

.box5 {
    background-image: url(./images/planner.jpg);
    width: 20%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    width: 36%;
    text-align: center;
    background-size: cover;
    padding: 60px;
}

.section-title1  {
    font-size: 0px;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-top: 45px;
    }

.box {
    width: 20%;
    height: 300px;
    background: rgb(110, 105, 105);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover {
    background-image: url(./images/run.jpg);
    background-size: cover;
}

/* End of Working Samples Section*/
/* Beginning of footer Section*/
    .flex-rowf {
    display: flex;
    background-color: rgba(71, 67, 67, 0.4);
    height: auto;
    flex-direction: row;
    }

    .foter ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    list-style: none;
    align-content: flex-end;
    }
    
    .foter ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgb(252, 247, 247);
    justify-content: space-around;
    }
    
    .foter ul li a:hover {
    border-radius: 15px;
    text-shadow: black;
    background: rgba(0, 0, 0, 0.2);
    }
    
/* End of footer Section*/
/* Beginning of media queries*/
@media screen and (max-width:1000px) {
    .box{
        width: 40%;
    }
}

@media (max-width: 900px) {
    .toggle {
        display: flex;
    }

    .links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .links ul {
        width: 100%;
        flex-direction: column;
    }

    .links li {
        text-align: center;
    }

    .links li a {
        padding: .5rem 1 rem;
    }

    .links.active {
        display: flex;
    }

    .flex-row, .flex-rowf {
        flex-direction: column;
    }

    .section-title  {
        width: 100%;
        font-size: 36px;
        border-bottom: 3px solid;
        text-align: center;
        justify-content: space-around;
        margin-top: 3px;

        }

    .about-p  {
        font-size: 24px;
        text-align: center;
        width: auto;
            }

    .box, .box1, .box2, .box3, .box4, .box5 {
        width: 90%;
            }
}

@media screen and (max-width:600px) {
    .box, .box1, .box2, .box3, .box4, .box5 {
        width: 90%;
    }
}